# OpenPages Configuration
OPENPAGES_BASE_URL=
#OPENPAGES_BASE_URL=
OPENPAGES_USERNAME=
OPENPAGES_PASSWORD=
OPENPAGES_APIKEY=
OPENPAGES_AUTHENTICATION_TYPE=bearer
#basic or bearer or bearer

# Server Configuration
DEBUG=False
SSL_VERIFY=True
LOG_LEVEL=INFO
PORT=8000
HOST=0.0.0.0
